[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=TweetDeck by Twitter
Icon=/usr/lib/Electron-TweetDeck-linux-x64/resources/app/icon/icon.png
Path=/usr/lib/Electron-TweetDeck-linux-x64
Exec=/usr/lib/Electron-TweetDeck-linux-x64/Electron-TweetDeck
StartupNotify=false
StartupWMClass=Electron-TweetDeck
OnlyShowIn=Unity;
X-UnityGenerated=true